@use "../base/variables" as vars;

// 左側のメニュー

.fix-nav {
  position: fixed;
  width: 144px;
  height: 100vh;
  left: 0;
  top: 0;
  padding-top: 29px;
  z-index: 500;
  & a {
    display: block;
    text-align: center;
    & img {
      width: 89px;
    }
  }
}
