@use "../base/variables" as vars;
@use "../base/functions" as func;
@use "../base/mixins" as mix;

// ページ固有のスタイル

.fv {
  position: relative;
  z-index: 50;
  width: calc(100% - #{vars.$menu-margin});
  margin-left: vars.$menu-margin;
  aspect-ratio: 1296 / 730;
  max-height: calc(100vh - #{vars.$header-height});
  min-height: 700px;
  overflow: hidden;
  background: #000;
  // 疑似要素をimgの上に重ねて少し暗くしている
  &::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.1;
    z-index: 5;
  }

  // タイトルエリア全体
  &__title-area {
    position: absolute;
    width: func.get_calc(1152, 1296);
    right: func.get_calc(72, 1296);
    bottom: -0.2em;
    z-index: 10;
  }
  &__subtitle {
    position: absolute;
    width: fit-content;
    right: 0;
    top: -0.7em;
    letter-spacing: 0.15em;
    color: #fff;
    font-size: clamp(16px, 2.5vw, 40px);
    line-height: 1;
    height: auto;
    overflow: hidden;
    & .char {
      display: inline-block;
      opacity: 0;
      animation: fadeUp 0.05s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
    }
    // 佐賀の～の部分のアニメーション
    @keyframes fadeUp {
      from {
        opacity: 0;
        transform: translateY(0.3em);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    // 文字数分ループ（今回は18文字なので余裕もって20）
    @for $i from 1 through 20 {
      .char:nth-child(#{$i}) {
        animation-delay: 0.05s * $i;
      }
    }
  } // サブタイトル閉じ
  &__title {
    position: relative;
    text-align: right;
    letter-spacing: 0.15em;
    color: #fff;
    font-size: clamp(16px, 7vw, 160px);
    line-height: 1;
    height: auto;
    overflow: hidden;
    white-space: nowrap;
    & .text {
      // SAGA MARIAGE
      display: block;
      opacity: 0;
      transform: translateY(100%);
      transition: transform 0.55s cubic-bezier(0.39, 0.575, 0.565, 1),
        opacity 0.55s cubic-bezier(0.39, 0.575, 0.565, 1);
    }
    &.move {
      & .text {
        transition-delay: 1.4s;
        transform: translateY(15%);
        opacity: 1;
      }
    }
  }
  &__img {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 50%;
    height: 100%;
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
  }

  &__item {
    position: absolute;
    inset: 0;
    overflow: hidden;

    img {
      position: absolute; // inset,width,heightといっしょに使っている
      inset: 0; // top,right,bottom,leftを一気に指定できる
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0; // 最初は非表示→CSSアニメーションで徐々に表示していく
      // 5枚の写真を20秒でループ
      --animation-duration: 20s;
      --animation-delay-base: calc(var(--animation-duration) / 5);

      animation: main var(--animation-duration) linear infinite;
    }

    /* 1枚目（ダミー　CSSアニメ動作安定用） */
    &:nth-child(1) img {
      opacity: 1;
      animation: firstImageAnimation var(--animation-duration) linear infinite;
    }

    /* 2枚目以降（実際表示される部分） */
    &:nth-child(2) img {
      animation-delay: calc(var(--animation-delay-base) * 1);
    }

    &:nth-child(3) img {
      animation-delay: calc(var(--animation-delay-base) * 2);
    }

    &:nth-child(4) img {
      animation-delay: calc(var(--animation-delay-base) * 3);
    }

    &:nth-child(5) img {
      animation-delay: calc(var(--animation-delay-base) * 4);
    }

    &:nth-child(6) img {
      animation-delay: calc(var(--animation-delay-base) * 5);
    }
  }
}

.char {
  display: inline-block;
}

// fvのcssアニメーション
@keyframes main {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  10% {
    opacity: 1;
  }
  26% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}

// 最初のダミー画像用　実際は表示されない
@keyframes firstImageAnimation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  26% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}

// section topics
.topics {
  position: relative;
  margin-left: calc(#{vars.$menu-margin} + 4.89vw);
  padding: 13rem 0 16rem;
  width: calc(100% - (#{vars.$menu-margin} + 4.89vw));
  display: flex;
  justify-content: space-between;
  & h2 {
    width: 288px;
    font-size: 4rem;
    line-height: 1.3;
    text-transform: uppercase; // テキストの大文字・小文字を変換する（今回：すべて大文字）
    & span {
      font-size: 2.4rem;
    }
  }
  & .pager-area {
    @include mix.mq(pc) {
      width: 70px;
    }
    & .button {
      @include mix.mq(pc) {
        width: 24px;
      }
    }
  }
  // section topicsの中にあるswiper
  & .swiper {
    flex: 1;
    & .inview.op.move {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.8s, color 0.4s var(--easeOutSine);
    }
    &__wrapper {
      display: flex;
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition-property: transform;
      box-sizing: content-box;
    }
    // slideにhoverするとcolor変化やimgの拡大アニメーションがあるが、他の要素とまとめて「@media (hover: hover)」にまとめられている
    &-slide {
      width: 245px;
      padding-right: 36px;
      padding-bottom: 152px;
      margin-right: 36px;
      box-sizing: border-box;
      @include mix.hover {
        .day,
        .slide__title,
        .slide__text {
          color: vars.$theme-color-or;
        }
        .swiper-slide__img .fit-img {
          transform: scale(1.05);
        }
      }
      &::after {
        content: "";
        display: block;
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background: vars.$base-border-color;
      }
      & .day {
        display: block;
        font-size: 1.2rem;
        color: vars.$theme-color-gr;
        margin-bottom: 2.6rem;
        transition: 0.4s color cubic-bezier(0.39, 0.575, 0.565, 1);
      }
      & h3 {
        font-size: 2rem;
        --lh: 1.4; // line-heightのための変数
        position: relative;
        line-height: calc(var(--lh) * 1em); // 行間
        padding-top: 0.1px;
        padding-bottom: 0.1px;
        letter-spacing: 0.05em; // 隣の文字との間隔
        margin-bottom: 2.4rem;
        transition: 0.4s color cubic-bezier(0.39, 0.575, 0.565, 1);
      }
      & .slide__text {
        font-size: 1.4rem;
        --lh: 1.4;
        font-weight: 500;
        margin-bottom: 4.8rem;
        position: relative;
        line-height: calc(var(--lh) * 1em);
        padding-top: 0.1px;
        padding-bottom: 0.1px;
        transition: 0.4s color cubic-bezier(0.39, 0.575, 0.565, 1);
        color: #333;
        letter-spacing: 0.05em;
      }
      &__img {
        width: calc(100% - 36px);
        aspect-ratio: 216 / 152;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        & .img {
          overflow: hidden; // hoverしたときに表示領域をそのままにするため
          transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
          // fit-imgは _helpers.scssに格納
        }
      }
    }
    &-scrollbar {
      &-drag {
        @include mix.mq(pc) {
          background-color: vars.$theme-color-or;
        }
      }
    }
  }
}

// section concept
.concept {
  position: relative;
  width: 100%;
  padding-top: 24rem;
  background: url(../img/bg-enoshima.jpg) center / cover;
  margin-bottom: 16rem;
  &__text-area {
    width: 60%;
    background: #fff;
    padding: 12rem 5rem 11.4rem calc(144px + 4.89vw);
  }
  & .en {
    display: block;
    font-size: 4rem;
    margin-bottom: 8rem;
    text-transform: uppercase;
  }
  & h2 {
    font-size: 3.6rem;
    font-weight: 600;
    --lh: 1.6;
    position: relative;
    line-height: calc(var(--lh) * 1em);
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    margin-bottom: 6.4rem;
    &::after {
      content: "";
      display: block;
      height: 0;
      width: 0;
      margin-bottom: calc((1 - var(--lh)) * 0.5em);
    }
    & span {
      font-size: 2.8rem;
      font-weight: 600;
    }
  }
  // .n_txtは_helpers.scssに基本のスタイルを記述
  & .n_txt {
    font-size: 1.6rem;
    --lh: 2.1;
    position: relative;
    line-height: calc(var(--lh) * 1em);
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    // 後に続くpタグのみ対象にする
    & + p {
      margin-top: 4.8rem;
    }
  }
}

// about / history
.links {
  position: relative;
  display: flex;
  flex-wrap: wrap; // レスポンシブ対応のためか？
  justify-content: space-between;
  width: calc(100% - vars.$menu-margin);
  margin-left: vars.$menu-margin;
  z-index: 10;
  & a {
    position: relative;
    width: 50%;
    aspect-ratio: 648 / 460;
    min-height: 460px;
    max-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    @include mix.hover {
      .img_area img {
        transform: scale(1.05);
      }
      .img_area:before {
        opacity: 0.3;
      }
      .square .svg {
        transform: translateX(3px);
      }
    }
    & div {
      position: relative;
      width: 88.8888888889%; // devtoolから
      z-index: 10;
    }
  }
  & h2 {
    color: #fff;
    font-size: 4rem;
    &::after {
      background: #fff;
      margin: 2.9rem auto 3.3rem;
    }
  }
  & .ub_tit_txt {
    position: relative;
    font-family: "Zen Old Mincho", serif;
    &.ub_tit_txt:after {
      content: "";
      display: block;
      width: 72px;
      height: 1px;
    }
    &.en {
      font-family: "Marcellus", serif;
      font-weight: 400;
      text-transform: uppercase;
    }
    &.-center {
      text-align: center;
      &::after {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  // .n_txtは_helpers.scssに基本のスタイルを記述
  & .n_txt {
    font-size: 1.6rem;
    --lh: 1.8;
    position: relative;
    line-height: calc(var(--lh) * 1em);
    padding: 0 4rem 0 2rem;
    color: #fff;
  }
  // ↓_helpers.scssにもスタイルあり
  & .vm {
    position: absolute;
    right: 72px;
    bottom: 20px;
    color: #fff;
    z-index: 10;
  }
  & .square {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 48px;
    height: 48px;
    background: #fff;
    z-index: 10;
    & .svg {
      width: 11px;
      height: auto;
      transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
      & path {
        stroke: #000; // 「>」の色を変更
      }
    }
  }
  & .img_area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    &::before,
    ::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
    &::before {
      background: #000;
      opacity: 0.1;
      z-index: 2;
      transition: 0.4s opacity cubic-bezier(0.39, 0.575, 0.565, 1);
    }
    &::after {
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.25) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      z-index: 3;
    }
    & .fit-img {
      position: absolute;
      inset: 0;
      margin: auto;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-position: center center;
      background-size: cover;
      z-index: 1;
      transition: transform ease 0.4s;
    }
  }
}

// project/story
.ps-area {
  position: relative;
  width: calc(100% - vars.$menu-margin);
  margin-left: vars.$menu-margin;
  padding-top: 16rem;
  padding-bottom: 0;
  & h2.en {
    display: block;
    margin-left: 7.2rem;
    letter-spacing: 0.05em;
    font-size: 4rem;
    margin-bottom: 4.8rem;
    text-transform: uppercase;
  }
  & .swiper-scrollbar {
    &-drag {
      @include mix.mq(pc) {
        background-color: vars.$theme-color-or;
      }
    }
  }
}
.ps-slide_area {
  position: relative;
  & .slide-wrap {
    width: calc(100% - 3.6rem);
    margin-left: 3.6rem;
    margin-bottom: 3.5rem;
  }
  & .slide {
    display: flex;
    width: 2376px; // storyは幅だけ上書きする（1188px）
    letter-spacing: 0;
    &.story {
      width: 1188px; // 半角スペースなし・・・「かつ」。Projectにも適用されるwidthを上書き
      margin: 0 auto; // projectより真ん中に。
    }
    // ↓.swiper-slide
    & a {
      display: block;
      position: relative;
      width: 360px;
      margin-left: 3.6rem;
      @include mix.hover {
        .img_area .fit-img {
          transform: scale(1.05);
        }
        .text-area .mincho-regular,
        .text-area .n_txt,
        .text-area .vm {
          color: vars.$theme-color-or;
        }
      }
      & .img_area {
        position: relative;
        overflow: hidden;
        aspect-ratio: 1 / 1;
        z-index: 10;
      }
      & .text-area {
        position: relative;
        width: 85%;
        margin-left: 15%;
        background: #fff;
        z-index: 10;
        padding: 30px 0 0 32px;
        box-sizing: border-box;
        transform: translateY(-80px);
        & .mincho-regular {
          display: inline;
          line-height: 1.2;
          letter-spacing: -0.01em;
          transition: 0.4s color cubic-bezier(0.39, 0.575, 0.565, 1),
            0.4s background-color cubic-bezier(0.39, 0.575, 0.565, 1);
          font-size: 2rem;
          font-weight: 700;
          background: none;
        }
        // .n_txtは_helpers.scssに基本のスタイルを記述
        & .n_txt {
          transition: 0.4s color cubic-bezier(0.39, 0.575, 0.565, 1);
          font-size: 1.4rem;
          --lh: 1.4; // helpersで変数を使う
          margin-top: 20px;
        }
        // .vmは_helpers.scssに基本のスタイルを記述→上書き
        & .vm {
          font-size: 1.2rem;
          margin-top: 2.5rem;
        }
      }
    }
  }
  & .pager-area {
    @include mix.mq(pc) {
      position: absolute;
      top: 0;
      left: 360px;
      width: 70px;
    }
  }
}

// activity log
// topicsと同じレイアウトを多用するのでclass名が使いまわされている
.topics {
  &.-staff {
    margin-top: 7rem;
    padding-top: 0;
    padding-bottom: 24rem;
    & .swiper-wrapper {
      & .swiper-slide {
        padding-top: 3.2rem;
        padding-right: 0;
        padding-bottom: 0;
        border-top: 1px solid #e0e0e0;
        &::after {
          display: none; // スライド右側の線を消す
        }
        & .cate {
          display: block;
          font-size: 1.2rem;
          font-weight: 500;
          color: vars.$theme-color-gr;
          margin-bottom: 1.6rem;
        }
        & .img_area {
          position: relative;
          width: 100%;
          margin-bottom: 1.6rem;
          aspect-ratio: 216 / 152;
          bottom: 0;
          left: 0;
          z-index: 10;
        }
        & h3 {
          font-size: 1.6rem;
          letter-spacing: 0;
          margin-bottom: 2rem;
          font-weight: 500;
        }
        & .n_txt {
          font-size: 1.4rem;
          --lh: 1.6;
          font-weight: 500;
          position: relative;
          line-height: calc(var(--lh) * 1em);
          padding-top: 0.1px;
          padding-bottom: 0.1px;
          transition: 0.4s color cubic-bezier(0.39, 0.575, 0.565, 1);
          margin-bottom: 0;
          letter-spacing: 0.05em;
        }
        & .day {
          color: #111;
        }
      }
    }
    & .vm {
      display: block;
      position: absolute;
      left: 0;
      top: 127px;
    }
  }
}
