@use "./variables" as vars;
@use "./mixins" as mix;

// marcellus-regular
.en {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  letter-spacing: 0.05em;
}

// zen-old-mincho
.mincho-regular {
  font-family: "Zen Old Mincho", serif;
  font-weight: 400;
  font-style: normal;
}
.mincho-medium {
  font-family: "Zen Old Mincho", serif;
  font-weight: 500;
  font-style: normal;
}
.mincho-semibold {
  font-family: "Zen Old Mincho", serif;
  font-weight: 600;
  font-style: normal;
}
// Noto Serif JP
.mincho2 {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

// .n_txtは何度か出てくるのでここで基本のスタイルを指定しておいて
// 必要に応じて_home.scssで上書きして使う
// _home.scssで入力した--lhをここで計算して使う
.n_txt {
  position: relative;
  color: #333;
  letter-spacing: 0.05em;
  position: relative;
  line-height: calc(var(--lh) * 1em);
  padding-top: 0.1px;
  padding-bottom: 0.1px;
  &::before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    margin-top: calc((1 - var(--lh)) * 0.5em);
  }
  &::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    margin-bottom: calc((1 - var(--lh)) * 0.5em);
  }
}

.fit-img {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center center;
  background-size: cover;
  z-index: 1;
  transition: transform ease 0.4s;
}

// ==============================
// swiper関連
// ==============================

// CDNで読み込んでいるswiper-bundle.min.cssから不要なCSSの分を打ち消すCSS
// 「swiper-bundle.min.css」の読み込みはswiperの動作に必要なので不要なものだけ打ち消すことにしました
.swiper-button-prev,
.swiper-button-next {
  margin-top: 0;
}

// swiperの前へ・次へボタンのスタイル
.topics .pager-area {
  position: absolute;
  left: 0;
  bottom: 24rem;
}
.pager-area {
  @include mix.mq(pc) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.pager-area {
  @include mix.mq(pc) {
    width: 70px;
  }
  & .button {
    @include mix.mq(pc) {
      width: 24px;
      height: 37.7px; // どうしてもわからないのでpx指定
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: transparent;
}

.swiper-button-prev {
  left: auto;
}

@include mix.mq(pc) {
  .pager-area .swiper-button-disabled path {
    stroke: #333;
    opacity: 0.5;
  }
}
// スクロールバー
@include mix.mq(pc) {
  .swiper-scrollbar,
  .swiper-scrollbar.swiper-scrollbar-horizontal,
  .swiper-scrollbar02,
  .swiper-scrollbar02.swiper-scrollbar-horizontal {
    position: absolute;
    left: 0;
    bottom: 40px;
    height: 1px;
    background-color: #e7e7e7;
  }
}
@include mix.mq(pc) {
  .topics .swiper-scrollbar.swiper-scrollbar-horizontal {
    bottom: 80px;
  }
}

// ==============================
// ↑swiper関係ここまで↑
// ==============================

// 文字の表示アニメーション
// concept
// intersectionObserverでmoveをつけることで
.inview.op {
  opacity: 0;
  visibility: hidden;
  &.move {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.8s, color 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  }
}

// aboutとhistoryの「view more」で単独でスタイル設定しているところ
.vm {
  position: relative;
  display: inline-block;
  font-size: 1.4rem;
  text-decoration: underline;
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  letter-spacing: 0;
  transition: 0.4s color cubic-bezier(0.39, 0.575, 0.565, 1);
}

// レスポンシブ関係
.pc-off {
  display: none !important;
}
.sp-off {
  display: block !important;
  @include mix.mq(tab) {
    display: none !important;
  }
}

.n_txt {
  color: #333;
  letter-spacing: 0;
}
