// モノトーン
$base-text-color: #111;
$base-link-color: #000;

// その他の色
$theme-color-or: #d8654a;
$theme-color-gr: #105c31;
$theme-color-bl: #2d96c1;

// ヘッダーの高さ
$header-height: 170px;

// 左側の余白
$menu-margin: 144px;
